*
{
    padding: 0;
    margin: 0;
}
body
{
    background: red;
}
body,
html
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 100;
    left:200;
    width: 100%;
    height: 100%;
    background: #ff0000;
}
